<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>431739763782-8b7gkk95imgr0m0sj62qg4qata4mav5k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431739763782-8b7gkk95imgr0m0sj62qg4qata4mav5k</string>
	<key>API_KEY</key>
	<string>AIzaSyAM0wJuNp-3wK295XE5ORhTBQGN4iBziNo</string>
	<key>GCM_SENDER_ID</key>
	<string>431739763782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.garsontech.BYAD2</string>
	<key>PROJECT_ID</key>
	<string>byad-a310c</string>
	<key>STORAGE_BUCKET</key>
	<string>byad-a310c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431739763782:ios:0dc5ce962e2a1360</string>
	<key>DATABASE_URL</key>
	<string>https://byad-a310c.firebaseio.com</string>
</dict>
</plist>